/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea/
node_modules/
.shadow-cljs/
shadow-cljs.edn
resources/public/assets
.clj-kondo/